*{
    margin:0;
    padding: 0;
  }
  body{
    background-color: #d9b7e5;
  }
  .container {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:30px;
  }
   input {
    border-radius: 16px;
    padding: 10px 30px;
    font-size: 20px;
  }
  .card h2, .card h3{
    color: #5b020c;
  }
  #submit {
    border-radius: 16px;
    font-size: 12px;
    padding: 10px 30px;
    background-color: #ae4c57;
  
   }
   #submit:hover{
   cursor:pointer;
   background-color: #8073d4;
   }
  h1{
  color: #a27150;
  }
  .lista{
  overflow-y: scroll;
  height: 80vh;
  } 