* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "JetBrains Mono";
  font-style: oblique;
  color: rgb(0, 6, 10);
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f2bab600-c1cf-4827-93ad-4a670df46535/ddga0uy-36823a1d-80b3-4377-bf4a-30e95d6415ff.png);
}

h1 {
  color: rgb(200, 213, 221);
  text-align:justify;
  margin-top: 60px;
  margin-left: 30px;
  font-size: 25px;
}

#pesquisa {
  position: absolute;
  top: 100px;
  right: 400px;
  width: 600px;
}

input {
  padding: .2rem;
  border-radius: .8rem;
  font-size: 1.2rem;
  width: 14rem;
}

#botao-id {
  padding: .2rem;
  font-size: 1.2rem;
  border-radius: .8rem;
  margin-top: .5rem;
}

#div-id {
  margin: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 251, 252);
  width: 180px;
  padding: 5px;
  font-weight: bold;
  height: 500px;
  overflow-y: scroll;
}

.lista-digimon {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} 

#imagem-digimon {
  align-items: center;
  border-radius: 7%;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 5px;
}

#digimon_nome {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 20px;
  color: rgb(32, 11, 59);
}

#digimon_level {
  text-align: center;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 5px;
  font-size: 18px;
  color: rgb(32, 11, 59);
}

.digimon_card {
  border-radius: 7%;
  text-align: center; 
  flex-direction: column;
  justify-content: center;
  margin-top: 10.5%;
  height: 210px;
  position: absolute;
  top: 0;
  right: 245px;
  width: 240px;
  background-color: rgba(248, 251, 252, 0.659);
  font-size: 20px;
}

.efeito {
  border-radius: 7%;
  text-align: center; 
  flex-direction: column;
  justify-content: center;
  margin-top: 25.8%;
  height: 130px;
  position: absolute;
  top: 0;
  right: 285px;
  width: 160px;
  background-color: rgba(248, 251, 252, 0.659);
  font-size: 20px;
}

.efeito-1 {
  border-radius: 7%;
  text-align: center; 
  flex-direction: column;
  justify-content: center;
  margin-top: 35.3%;
  height: 90px;
  position: absolute;
  top: 0;
  right: 310px;
  width: 110px;
  background-color: rgba(248, 251, 252, 0.659);
  font-size: 20px;
}

.logo-png {
  position: absolute;
  top: 67%;
  width: 80px;
  height: 60px;
  margin:-40px 0 0 -40px;
  -webkit-animation:logo-png 4s linear infinite;
  -moz-animation:slogo-png 4s linear infinite;
  animation:logo-png 4s linear infinite;
}
@keyframes logo-png { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }