* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-left: 30px;
}

button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: yellowgreen;
}

input {
  width: 190px;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
}

.digimon_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.digimon_card {
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#digimon_image {
  width: 230px;
  height: 200px;
  margin-left: 10px;
}

#digimon_name {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 87px;
}

#digimon_level {
  font-style: italic;
  margin-top: 24px;
  font-size: 15px;
  margin-left: 94px;
}

#listagem_digimon {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 30px;
  font-size: 15px;
  margin-left: 50px;
}
