* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B7D5E5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

input {
    border-radius: 16px;
    padding: 10px 30px;
    font-size: 20px;
}

.card h2,
.card h3 {
    color: #023d5b;
}

#submit {
    border-radius: 16px;
    font-size: 12px;
    padding: 10px 30px;
    background-color: #00A8FF;

}

#submit:hover {
    cursor: pointer;
    background-color: #73b3d4;
}

h1 {
    color: #023d5b;
}

.lista {
    overflow-y: scroll;
    height: 80vh;
}