* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  position: relative;
}

body {
  background: url(./assets/back2.png) no-repeat;
  background-attachment: fixed;
}

ul {
  padding: 0.5px;
  margin-top: 6px;
  margin-left: 5px;
}

input{
  margin: 30px;
}

button{
  width: 100px;
  margin-left: -34px;
}

p{
  margin-top: 100px;
}

/* --------------------------------------------- */

/* Lista de Digimons... */


.container{
  padding: 10px;
}

.titulo_lista {
  color: #f5ca53;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  margin-left: 70px;
  margin-top: 10px;
}



.lista_digimon {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 150px;
  height: 600px;
  position: absolute;
  overflow-y: scroll;
  background: #FFFFFF;
  border: 1px solid #2675AE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 43px;
  margin-top: 20px;
}



/* --------------------------------------------- */

/* Card dos Digimons... */

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 244px;
  height: 391px;
  background: #FFFFFF;
  box-shadow: 0px 7px 4px 3px rgb(0 0 0 / 25%);
  border-radius: 13px;
  margin-left: 476px;
  margin-top: 65px;
}


.nome{
  padding: 5px;
}

.digimon{
  text-transform: uppercase;
}

/* Image Container */
.card .img-container {
  background-color: #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

/* Image */
.card .img-container img {
  margin-top: 20px;
  max-width:100%;
}

.card .info {
  margin-top: 20px;
  font-size: 0.8em;
}

/* Level Background */

.card .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.card #digimon_level {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 10px;
}

