@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}
h1{
  color:#FFF
}

.section_container {
  background-image: url(./assets/digimon_background.png);
  background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
 
}

.list_container{
  margin: 5% 0 0 1%;
  width: 22vw;
}


.digimon_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
}
.digimon_card{
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 40px 25px;
  max-width: 350px;
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  
}

.digimon_image{
  margin-bottom: 1.2rem;
  max-width: 250px;
  max-height: 250px;
  border-radius: 1rem;

 
}

.digimon_name{
  margin: 5% 0
}
p {
  color: #FFF;
  font-size: 1.1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: solid 1px #fff;
  border-radius: 0.25em;
  background: transparent;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select_container {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.5em;
  line-height: 3;
  background: transparent;
  overflow: hidden;
  border-radius: 0.25em;
  margin-top: 8%;
}
.select_container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ffffff;

  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select_container:hover::after {
  color: rgb(141 156 233);
}
