@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*{
    margin:0;
    padding: 0;
  }
  body{
    background-color: #c3f371;
  }
  .container {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:30px;
  }
   input {
    border-radius: 16px;
    padding: 10px 30px;
    font-size: 20px;
  }
  .card h2, .card h3{
    color: #77046b;
  }
  #submit {
    border-radius: 16px;
    font-size: 12px;
    padding: 10px 30px;
    background-color: #505f15;

   }
   #submit:hover{
   cursor:pointer;
   background-color: #37e2b1;
   }
  h1{
  color: #77046b;
  }
  .lista{
  overflow-y: scroll;
  height: 80vh;
  }
